@import "nib"
@import "normalize.styl"
@import "fonts.styl"

//VARIABLES
gris_oscuro = #333
gris_claro = #818181
rojo = #BD255B
gris_mas_claro = #f0f0f0

//MIXINS 
// animacion(n)
// 	-webkit-animation n
// 	-moz-animation n
// 	-o-animation n
// 	-ms-animation n
// 	animation n


//receteando listado
ul
	margin 0
	padding 0

a
	text-decoration none
body
	font-size 16px
	font-family: 'Varela Round', sans-serif;

figure
	margin 0

img
	// las imagnenes dejan un espacion por debajo con esto se soluciona
	vertical-align top

.button-menu
	position absolute
	left .5em
	top 50%
	// el top 50% colocara el a  en el medio pero empezando desdel su pie
	// para centrarlo mejor le sacamos un margin de 10px 
	// para que suba a la mitad 
	margin-top -10px
	// le quitamos -10 masomenos el tamano de la letra principal
	color gris_oscuro
.container
	// COMO TIENE font-size 0 TAMBIEN TENEMOS QUE USAR REM
	padding 1.4rem
	font-size 0
	text-align center

.action
	color white
	margin-right .5em
	font-size: 1.2em
	&:last-child
		margin-right 0
	&.gray
		color gris_claro  
.actions
	position absolute
	bottom 0
	left 0
	right 0
	background rgba(black, .3)


.border-bottom
	border-bottom 1px solid gris_claro


.center-block
	margin 0 auto
.center-text
	text-align center

.name
	color gris_oscuro

.menu
	display none


.author
	color gris_claro

.header
	height 3.5em
	// a
	// 	display none
	.title
		font-size: 1.1em
		text-align center
		margin 0
		// LE DAMOS EL MISMO TAMANO DE SU CONTENEDOR PARA QUE SE CENTRE
		line-height: 3.5em

.wrap
	width 1000px
.relative
	position relative

.round 
	border-radius 50%
	overflow: hidden

.padding
	padding 1em

.padding-tb
	padding 1em 0

.left
	float left
.right
	float right

.progress
	margin 1em 0 
	position relative
	.min
	.max 
		font-size .8em
		position absolute
		top -5px
	.min
		left 0
	.max
		right 0
	.total
		height: 5px
		background gris_claro
		width 75%
		// margin-top 10px
		border-radius 5px
		margin 0 auto

	.state
		height: 5px
		background rojo
		width 30%
		border-radius 5px
		position relative
		// tiempo y nombre de la animacion con keyframe 
		//usando mixins
		// aceleracion liear
		animation 10s state infinite linear


	.circle
		background gris_oscuro
		width: 10px
		height 10px
		border-radius 5px
		position absolute
		right 0
		top -2px
		animation 1s circle infinite

@keyframes state
	0%
		width 0
	100% 
		width 100%

@keyframes circle
	0%
		transform scale(1)
	100%
		transform scale(2)
		opacity 0
		
.right-text
	text-align right	
.song
	// tambien puedo calcular 128 entre 16 para saber cuanto es en em
	// usamos rem para que no haga caso al container sino al padre anterior
	// ya que el container se ha quedado sin size o tamano
	width 8rem 
	display inline-block
	font-size 1rem
	margin-right 1em
	margin-bottom 1em
	text-align left
	&:nth-child(even)
		margin-right 0
	p
		margin .5em 0

.playing
	&.small
		width 20em
 		margin 0 auto
.input
	border 1px solid gris_claro
	height 2.5em
	border-radius 5px
	padding 0 1em 0 2em

.search-icon
	position absolute
	left .5em
	top .8em
	color gris_claro
.close-icon
	position absolute
	color gris_claro
	right .5em
	top .6em
	font-size 1.32m



.playlist
	display none
	width 22em
	padding  0 2em  
	border-left 1px solid gris_claro
	.list
		list-style none
	.item
		padding 1em 0
	.action
		font-size: .8em

.isotipo
	width 122px
.logo
	padding 1.3em 0
	overflow: hidden
	background white
	display none
	
.avatar
	width 38px
	height 38px
.username
	color gris_claro
	position relative
	top 9px
	margin-left .5em
	&:after
		content ""
		border-left 7px solid transparent
		border-top 7px solid gris_claro
		border-right 7px solid transparent
		display inline-block
		margin-left .5em

@media screen and (min-width:480px)
	
	.song
		&:nth-child(even)
			margin-right 1em
	.image
		img
			width 100%
			height auto
	.playing
		&.medium
			width auto
		

@media screen and (min-width:1000px)
	body
		background gris_mas_claro
	.button-menu
		display none

	.playing
		padding-top 1.3em
		&.large
			margin 0 auto
			width 62.5em
			overflow hidden
	.menu
		display block
		background gris_mas_claro
		overflow hidden
		border-top 1px solid gris_claro
		.item
			float left
			list-style none
			a
				color gris_oscuro
				text-transform uppercase
				cursor pointer
				padding 1em
				display block
				border-top 5px solid transparent

				&:hover
					//esto hara que las cajas se mueven
					//cuandose pase el mouse
					border-top 5px solid gris_oscuro

	.music
		width 32.5em
		float left
		.description
			display none
	
	.header
		height auto
		border none
		.title
			display none
	.playlist
	.logo
		display block














